<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AccentOccurrences.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="AccentOccurrences.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<AccentOccurrences.Settings>
			<setting name="Border" serializeAs="String">
				<value>#FFFFFFFF</value>
			</setting>
			<setting name="Fill" serializeAs="String">
				<value>#FF1E90FF</value>
			</setting>
			<setting name="Font" serializeAs="String">
				<value>#FFFFFFFF</value>
			</setting>
			<setting name="GlyphBorder" serializeAs="String">
				<value>#FFFFFFFF</value>
			</setting>
			<setting name="GlyphFill" serializeAs="String">
				<value>#FF1E90FF</value>
			</setting>
		</AccentOccurrences.Settings>
		<AccentOccurrences.Properties.Settings>
			<setting name="Border" serializeAs="String">
				<value>#FFFFFFFF</value>
			</setting>
			<setting name="Fill" serializeAs="String">
				<value>#FF1E90FF</value>
			</setting>
			<setting name="Font" serializeAs="String">
				<value>#FFFFFFFF</value>
			</setting>
			<setting name="GlyphBorder" serializeAs="String">
				<value>#FFFFFFFF</value>
			</setting>
			<setting name="GlyphFill" serializeAs="String">
				<value>#FF1E90FF</value>
			</setting>
		</AccentOccurrences.Properties.Settings>
	</userSettings>
	<startup/>
</configuration>